Repository openstandia/Nextjs-docs-ja: changes, and which lefthook commands are due for each by the changed paths.
All: secretlint, formatting, textlint, docsBuild

secretlint:
  run: npx secretlint --maskSecrets --secretlintignore .gitignore "{staged_files}"

formatting:
  run: npx prettier --write "{staged_files}"

textlint:
  run: npx textlint {staged_files}

docsBuild:
  run: npx docusaurus build

feat: add auto release feature
  .github/release-drafter.yml
  .github/workflows/release.yml
Due: secretlint, formatting

feat: add auto release feature
  .github/workflows/release.yml
Due: secretlint, formatting

feat: create release note test
  .github/workflows/release.yml
Due: secretlint, formatting

feat: 戻し
  .github/workflows/release.yml
Due: secretlint, formatting

feat: Add temperature option to OpenAI API (#288)
  scripts/konjacbot/pr.mts
  scripts/konjacbot/translate.mts
  scripts/konjacbot/utils.mts
Due: secretlint

fix: change name of actions name
  .github/workflows/release-note.yml
Due: secretlint, formatting

fix: change name of actions name
  .github/workflows/release-note.yml
  .github/workflows/test-workflow.yml
Due: secretlint, formatting

fix: change with test actions
  .github/workflows/release-note.yml
  .github/workflows/test-workflow.yml
Due: secretlint, formatting

fix: some error
  .github/workflows/release-note.yml
Due: secretlint, formatting

feat: test actions
  .github/workflows/release-note.yml
Due: secretlint, formatting

fix
  docs/01-app/01-getting-started/index.mdx
  docs/01-app/03-building-your-application/01-routing/index.mdx
  docs/01-app/03-building-your-application/06-optimizing/01-images.mdx
  docs/01-app/04-api-reference/03-file-conventions/index.mdx
  docs/01-app/04-api-reference/04-functions/generate-static-params.mdx
Due: secretlint, formatting, textlint, docsBuild

feat: add auto create release note config
  .github/release-drafter.yml
Due: secretlint, formatting

feat: add auto create release note feature
  .github/workflows/release-note.yml
Due: secretlint, formatting

fix pr script
  scripts/konjacbot/pr.mts
Due: secretlint

fix pr script (#318)
  scripts/konjacbot/pr.mts
Due: secretlint

docs: add rules for Contributing.md
  Contributing.md
Due: secretlint, formatting

chore: Update useCache.mdx
  docs/01-app/04-api-reference/05-config/01-next-config-js/useCache.mdx
Due: secretlint, formatting, textlint, docsBuild

chore: Update use-cache.mdx
  docs/01-app/04-api-reference/01-directives/use-cache.mdx
Due: secretlint, formatting, textlint, docsBuild

feat: add lefthook #296
  .gitignore
  lefthook.yml
  package.json
Due: secretlint, formatting

chore: package update #324
  .tool-versions
  package-lock.json
  package.json
Due: secretlint, formatting

chore: update sitemap changefreq #328
  docusaurus.config.js
Due: secretlint, formatting

chore: update sitemap changefreq #328 (#329)
  docusaurus.config.js
Due: secretlint, formatting

chore: update keywords
  docusaurus.config.js
Due: secretlint, formatting

chore: update keywords (#330)
  docusaurus.config.js
Due: secretlint, formatting

chore: Update revalidatePath.mdx
  docs/01-app/04-api-reference/04-functions/revalidatePath.mdx
Due: secretlint, formatting, textlint, docsBuild

feat: add categories in release drafter #264
  .github/release-drafter.yml
Due: secretlint, formatting

feat: chnage job trigger #264
  .github/workflows/release-note.yml
Due: secretlint, formatting

feat: chnage publish config #264
  .github/workflows/release-note.yml
Due: secretlint, formatting

feat: chnage config with test #264
  .github/workflows/release-note.yml
Due: secretlint, formatting

feat: test actions #264
  .github/workflows/release-note.yml
Due: secretlint, formatting

feat: change config with main branch #264
  .github/workflows/release-note.yml
Due: secretlint, formatting

feat: change release note name #264
  .github/release-drafter.yml
Due: secretlint, formatting

feat: add release note feature #264 (#307)
  .github/release-drafter.yml
  .github/workflows/release-note.yml
Due: secretlint, formatting

fix
  docs/01-app/03-building-your-application/06-optimizing/01-images.mdx
Due: secretlint, formatting, textlint, docsBuild

feat: Update robots.txt
  static/robots.txt
Due: secretlint

Path conditions:
  secretlint: any of: *
  formatting: any of: *.{js,ts,jsx,tsx,md,mdx,json,yml}
  textlint: any of: docs/**/*.{md,mdx}
  docsBuild: any of: docs/**/*.{md,mdx}
